#resultado{
	background: gray;
	resize:none;
	border-radius: 0.7rem;
	margin:0.2rem;
	text-align:right;
	font-size: 2rem;
}
#principal{
	margin-top:2rem;
	background: lightgray;
}
/*#top-buttons{
	padding-top:0.3rem;
}*/
.btn{
	margin:0.2rem;
}